{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'post_list.css' %}" />
{% endblock %}

{% block header %}
    <span id='create'><a href="{% url 'Posts:create_post' %}">게시물 작성</a></span>
{% endblock %}

{% block content %}
    <div class='container'>
        {% for post in posts %}
            <div class='inner-box post-{{ post.id }}'>
                <div class="profile">
                    <div class='profile-image'><img src="http://placekitten.com/200/300" alt='' /></div>
                    <h3>{{ post.writer }}</h3>
                </div>
                <div class='image'>
                    <img src="{{ post.photo.url }}" />
                </div>
                <div class='text'>
                    <h3>{{ post.title }}</h3>
                    <span>
                        {{ post.content }}
                    </span>
                </div>
                <div class='comment'>
                    <h4>댓글</h4>
                </div>
                <div class='comment-list'>
                    {% for reply in post.comment.all %}
                        <div class='reply comment-{{ reply.id }}'>
                            {{reply.text}}
                            <button onclick="onClickDelete({{ post.id }}, {{ reply.id }})">Delete</button>
                        </div>
                    {% endfor %}
                </div>
                <div class='add-comment'>
                    <input class = 'added-text' type="text" placeholder="댓글달기">
                    <button onclick="onClickAdd({{ post.id }})">Submit</button>
                </div>
                <div class='likes post-id-{{ post.id }}'>
                    {% if post.preference == False %}
                        <button class = 'heart' onclick="onClickLike({{ post.id }})"><i class="far fa-heart"></i></button>
                        <p class='like_text'>게시물이 마음에 드시면 좋아요를 눌러주세요!</p>
                    {% else %}
                        <button class = 'heart' onclick="onClickLike({{ post.id }})"><i class="fas fa-heart"></i></button>
                        <p class='like_text'>게시물에 좋아요를 누르셨습니다!</p>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>

    <script>
        const requestLike = new XMLHttpRequest();
        
        const onClickLike = (id) => {
            const url = '/like_ajax/';
            requestLike.open('POST', url, true);
            requestLike.setRequestHeader(
                'Content-Type',
                'application/x-www-form-urlencoded'
            );
            requestLike.send(JSON.stringify({id: id}));
        };

        const likeHandleResponse = () => {
            if(requestLike.status < 400){
                const {id} = JSON.parse(requestLike.response);
                console.log(id)
                const element1 = document.querySelector(`.post-id-${id} .heart`);
                const element2 = document.querySelector(`.post-id-${id} .like_text`);
                const heart = element1.innerHTML;
                console.log(heart)
                if (heart == '<i class="fas fa-heart"></i>'){
                    element1.innerHTML = `<i class="far fa-heart"></i>`
                    element2.innerHTML = `게시물이 마음에 드시면 좋아요를 눌러주세요!`
                }else if(heart == '<i class="far fa-heart"></i>'){
                    element1.innerHTML = `<i class="fas fa-heart"></i>`
                    element2.innerHTML = `게시물에 좋아요를 누르셨습니다!`
                }

            }
        }

        requestLike.onreadystatechange = () => {
            if(requestLike.readyState === XMLHttpRequest.DONE){
                likeHandleResponse();
            }
        };

        const requestAdd = new XMLHttpRequest();

        const onClickAdd = (id) => {
            const url = '/add_ajax/';
            requestAdd.open('POST', url, true);
            requestAdd.setRequestHeader(
                'Content-Type',
                'application/x-www-form-urlencoded'
            );
            const content=document.querySelector(`.post-${id} .added-text`).value
            console.log(content);
            requestAdd.send(JSON.stringify({id: id, content: content}));
        };

        const AddHandleResponse = () => {
            if(requestAdd.status < 400) {
                const {post_id, content, comment_id} = JSON.parse(requestAdd.response);
                const element = document.querySelector(`.post-${post_id} .comment-list`);
                element.innerHTML += `
                <div class='reply comment-${comment_id}'>
                    ${content}
                    <button onclick="onClickDelete(${post_id}, ${comment_id})">Delete</button>
                </div>`;
                const input=document.querySelector(`.post-${post_id} .added-text`);
                input.value = null;
            }
        };

        requestAdd.onreadystatechange = () => {
            if(requestAdd.readyState === XMLHttpRequest.DONE){
                AddHandleResponse();
            }
        };

        const requestDelete = new XMLHttpRequest();

        const onClickDelete = (post_id, comment_id) => {
            const url = '/delete_ajax/';
            requestDelete.open('POST', url, true);
            requestDelete.setRequestHeader(
                'Content-Type',
                'application/x-www-form-urlencoded'
            );
            requestDelete.send(JSON.stringify({post_id: post_id, comment_id: comment_id}));
        };

        const DeleteHandleResponse = () => {
            if(requestAdd.status < 400) {
                const {post_id, content, comment_id} = JSON.parse(requestDelete.response);
                const element = document.querySelector(`.post-${post_id} .comment-${comment_id}`);
                element.innerHTML = '';
            }
        };

        requestDelete.onreadystatechange = () => {
            if(requestDelete.readyState === XMLHttpRequest.DONE){
                DeleteHandleResponse();
            }
        };

    </script>
{% endblock %}