.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.nav {
  justify-content: center;
  position: sticky;
  height: 50px;
  border: solid;
  border-color: gray;
  margin-bottom: 20px;
}

.nav h2 {
  margin: 0;
}
