{% extends "layout.html" %}

{% block content %}
    <h1>DevTool Detail</h1>
    <p>개발툴 세부내용 페이지입니다. 자신이 다룰 수 있는 개발툴에 대한 상세내용을 확인해보아요.</p>
    <div class="row container">
        <h1>{{ devtool.name }}</h1>
        <br />
        <p>| {{ devtool.kind }}</p>
        <p>| {{ devtool.description }}</p>
        <hr />
        <h2>>만들 수 있는 SW 목록</h2>
        {% for idea in ideas %}
            {% ifequal idea.devtool devtool.name %}
                <a href="{% url 'ideas:idea_detail' idea.pk %}">{{ idea.title }}</a>
            {% endifequal %}
        {% endfor %}
    </div>
    <div class="col">
        <a onclick="return confirm('정말 삭제하시겠습니까?');" href="{% url 'devtools:devtool_delete' devtool.pk %}">삭제</a> 
        <a href="{% url 'devtools:devtool_list' %}">목록</a> 
        <a href="{% url 'devtools:devtool_update' devtool.pk %}">수정</a> 
    </div>
{% endblock %}