{% extends "layout.html" %}

{% block content %}
<div class="container">
    <h1>Idea List</h1>
    <br/>
    <p>나의 아이디어를 잊지말고 기록해보세요</p>
    <div class="row row-cols-4">
        {% for idea in ideas %}
            <div class="col w-25">
                <img src="{{ idea.image.url }}" style="width: 250px;"/>
                <br />
                <a href ="{% url 'ideas:idea_detail' pk=idea.pk %}">
                    {{ idea.title }}
                </a>
                <hr />
                {{ idea.devtool }}
                <br />
                {{ idea.interest }}
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}