{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Pirostagram</title>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="{% static 'base.css' %}" />
        {% block head %}
        {% endblock %}
    </head>
    <header>
        <div class='container nav'>
            <h2>Pirostagram</h2>
            {% block header %}
            {% endblock %}
        </div>
    </header>
    <body>
        {% block content %}
        {% endblock %}
    </body>
</html>