{% extends 'blog/base.html' %}

{% block content %}
    <div class="post">
        {% if post.published_date %}
            <div class="date">
                {{ post.published_date }}
            </div>
        {% endif %}
        <h1>{{ post.title }}</h1>
        <img src="https://picsum.photos/200/300?random=2"/>
        <p>{{ post.text|linebreaksbr }}</p>
        {% if user.is_authenticated %}
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <a class="btn" href="{% url 'post_edit' pk=post.pk %}"><i class="fas fa-pencil-alt"></i></a>
            </div>
        {% endif %}
    </div>
{% endblock %}