{% extends 'blog/base.html' %}

{% block content %}
    <div class="post">
        {% if post.published_date %}
            <div class="date">
                {{ post.published_date }}
            </div>
        {% endif %}
        <h1>{{ post.title }}</h1>
        <div class="post-content">
            <img src="https://picsum.photos/200/300?random=2"/>
            <p>{{ post.text|linebreaksbr }}</p>
        </div>
        {% if user.is_authenticated %}
            <a class="btn edit" href="{% url 'post_edit' pk=post.pk %}"><i class="fas fa-pencil-alt fa-2x"></i></a>
        {% endif %}
    </div>
{% endblock %}