<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django Girls blog</title>
</head>
<body>
    <div>
        <h1><a href="">Django Girls Blog</a></h1>
    </div>
    <div>
        <p>published: 13.07.2021, 19:00</p>
        <h2><a href="">My first post</a></h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium iusto optio corrupti, commodi delectus, cumque veritatis eos quaerat eaque possimus iste obcaecati harum sapiente quod non consequuntur quo ipsum animi.</p>
    </div>
    <div>
        <p>published: 13.07.2021, 19:00</p>
        <h2><a href="">My second post</a></h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ullam corrupti, sed voluptatem cupiditate tenetur consectetur omnis quos fuga sapiente maiores. Sed dolorem amet id quo voluptates, ad expedita possimus quas.</p>
    </div>
</body>
</html>